MsgInput, MsgSend {
  height: 5;
}

#msgsend {
  margin: 0 1;
  border: $primary;
}

MsgHistory {
  padding: 0;
}

Msg {
  padding: 0 2;
  height: auto;
}

.msgtitle {
  border: solid $background;
}

.msgcontent {
  border: solid $panel;
}