TitleBar {
  background: $surface;
}

ClearMsg {
  padding: 1;
  align: center middle;
  width: 100%;
  color: $text-muted;
}

StartDialog {
  padding: 1;
}

#saveddevtitle {
  align: center middle;
  width: 100%;
  padding: 1;
}

ListItem {
  padding: 1;
}

#titletext {
  padding: 1 1;
  width: 2fr;
  align: left middle;
  height: auto;
}

#leavebutton {
  align: right middle;
  width: 9;
}

MsgInput, MsgSend {
  height: 5;
}

#msgsend {
  margin: 0 1;
  background: $surface;
}

MsgHistory {
  padding: 0;
}

Msg {
  padding: 1 2;
  height: auto;
  opacity: 0;
}

.msgtitle {
  border: solid $background;
}

.msgcontent {
  border: solid $surface;
  border-title-color: $text-muted;
  height: auto;
  background: $background;
  width: 100%;
}